@charset "utf-8";

/*
   Structure and Typography for The Great Lakescape Lodge Layout Styles
   Filename: lake_layout.css
*/

/* Font Face */
@font-face {
   font-family: 'CustomFont';
   src: url('DobkinPlain') format('woff'),
        url('DobkinPlain') format('truetype');
}

@font-face {
   font-family: 'AlternateFont';
   src: url('cac_champagne.woff') format('woff'),
        url('cac_champagne.ttf') format('truetype');
}

/* Global Styles */
body {
   font-family: 'CustomFont', sans-serif;
   margin: 0 auto;
   width: 100%;
   max-width: 1020px;
   min-width: 640px;
   box-sizing: border-box;
   font-size: 10px;
}

header > img {
    width: 100%;
    display: block;
    margin: 0;
}

header > nav {
    display: table;
    width: 100%;
}

header > nav > ul {
    display: table-row;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

header > nav > ul > li {
    display: table-cell;
    text-align: center;
}

header > nav a {
    display: block;
    width: 100%;
    text-decoration: none;
}

/* Layout Styles */
#leftcol {
    width: 70%;
    float: left;
    margin-left: 0;
    padding-left: 20px;
    margin-right: 0;
    margin-bottom: 0;
    box-sizing: border-box;
}

#leftcol h1 {
    font-family: 'AlternateFont', sans-serif;
    font-size: 18px;
}

#rightcol {
    width: 30%;
    padding: 22px;
    float: left;
    height: 1118px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    box-sizing: border-box;
    font-size: 14px;
}
blockquote{
    width:200px;
    margin-left: -4px;
    margin-top: 50px;
    font-family: 'AlternateFont', sans-serif;
    font-size:20px;
}
aside {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    width: 100px;
    margin: 10px;
    float: left;
    clear: both;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

footer {
    clear: both;
    padding: 10px;
    text-align: center;
}

/* Structural and Element Styles */
address, article, aside, blockquote, body, cite, 
div, dl, dt, dd, em, figcaption, figure, footer, 
h1, h2, h3, h4, h5, h6, header, html, img, 
li, main, nav, ol, p, section, span, ul {
    box-sizing: border-box;
}

/* Specific Element Styles */
footer em {
    font-style: italic;
}

ul {
    list-style-type: square;
    padding-left: 14px;
}

footer::before {
    content: "Contact Us: ";
}

aside::before {
    content: "Important: ";
    font-weight: bold;
}

section#leftcol aside, section#rightcol aside {
    width: 100%;
    float: left;
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-bottom: 80px;
}

section#rightcol aside {
    margin-left: 3%;
    margin-right: 3%;
}

section#leftcol img {
    width: 100%;
    display: block;
}
